<html>
<head>
  <title>Login</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/new.css">

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/login.js"></script>
</head>

<body>

  <article class="pLogin">
    <section class="bSplash">
      <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
      <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
      <div class="bSplash__content" data-stellar-ratio="0.5">
        <h1 class="bSplash__header">Login <span class="font-w-bold">Signup</span></h1>

        <div class="pLogin__container">
          <div class="topButtons">
            <button class="loginButton btn_pill btn_white pull-left" type="login" value="Login">Login</button>
            <button class="signupButton btn_pill btn_white pull-right" type="signup" value="Sign Up">Sign Up</button>
          </div>

          <div class="login">
            <div class="nameDiv" style="display: none">
              <input  type="text" placeholder="name" class="nameBox bContent__input">
            </div>
            <input type="text" placeholder="email address" class="emailBox bContent__input"><br>
            <input type="password" placeholder="password" class="passwordBox bContent__input"><br>
            <input class="submitButton btn_pill btn_blue" type="button" value="Submit">
          </div>
        </div>
      </div>
    </section>
  </article>


</body>
</html>

