<div class="body"></div>
<div><span id="logo">
    <img class="logo" src="static/images/logo.png" ng-click="link('/#/')">
        </span>
<div>
    <div class="grad"></div>
    <div class="header">
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="email address" name="user"><br>
            <input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
                    </div>
    
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
