<html><head><link rel="stylesheet" href="/static/css/chefNewStyle.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/chefNew.js"></script>
 </head><body>
<div class="styled-select">
 <select class="userSelect">
 </select>
</div>


<div class="wrapper">
  
  <div><font size="12" color="#FFF"> User Details </font></div>
  <br>

  <div class="table userInfo">  
    <div class="row header orange">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Number of People Served
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Notes
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Phone Number
      </div>
      <div class="cell">
        Address
      </div>  
    </div>
  </div>

<div><font size="12" color="#FFF"> User Orders </font></div>

  <br>
<div class="table dietInfo" style="border:">  
    <div class="row header blue">
      <div class="cell">
        Sunday
      </div>
      <div class="cell">
        Monday
      </div>
      <div class="cell">
        Tuesday
      </div>
      <div class="cell">
        Wednesday
      </div>
      <div class="cell">
        Thursday
      </div>
      <div class="cell">
        Friday
      </div>
      <div class="cell">
        Saturday
      </div>  
    </div>
  </div>
<center>
  <a onclick="update()" class="myButton">Update</a>

</center>
  
</div></body></html>