<html><head><link rel="stylesheet" href="/static/css/chefStyle.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/chef.js"></script>
 </head><body>
<div class="styled-select">
 <select class="Week">
  <option value="Sunday"> Sunday</option>
  <option value="Monday"> Monday</option>
  <option value="Tuesday"> Tuesday</option>
  <option value="Wednesday"> Wednesday</option>
  <option value="Thursday"> Thursday</option>
  <option value="Friday"> Friday</option>
  <option value="Saturday"> Saturday</option>
 </select>
</div>


<div class="wrapper">
  
  <div><font size="12" color="#FFF"> Breakfast </font></div>
  <br>

  <div class="table Breakfast">
    
    <div class="row header">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Number of People Served
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Notes
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Phone Number
      </div>
      <div class="cell">
        Address
      </div>
      
    </div>

  </div>

  <div><font size="12" color="#FFF"> Lunch </font></div>
  <br>

  <div class="table Lunch">
    
    <div class="row header green">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Number of People Served
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Notes
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Phone Number
      </div>
      <div class="cell">
        Address
      </div>
    </div>
    
  </div>

  <div><font size="12" color="#FFF"> Dinner </font></div>
  <br>

  <div class="table Dinner">
    
    <div class="row header blue">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Number of People Served
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Notes
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Phone Number
      </div>
      <div class="cell">
        Address
      </div>
    </div>
    
  </div>
  <div><font size="12" color="#FFF"> Dessert </font></div>
  <br>

  <div class="table Dessert">
    
    <div class="row header yellow">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Number of People Served
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Notes
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Phone Number
      </div>
      <div class="cell">
        Address
      </div>
    </div>

  </div>
  <div><font size="12" color="#FFF"> Snacks </font></div>
  <br>

  <div class="table Snacks">
    
    <div class="row header purple">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Number of People Served
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Notes
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Phone Number
      </div>
      <div class="cell">
        Address
      </div>
    </div>
    
  </div>
  
</div></body></html>