<html><head><link rel="stylesheet" href="/static/css/chefStyle.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/dietHistory.js"></script>
 </head><body>


<div class="wrapper">
  
  <div><font size="12" color="#FFF"> Diet History </font></div>
  <br>

  <div class="table History">
    
    <div class="row header">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Email Address
      </div>
      <div class="cell">
        Dietary Restrictions
      </div>
      <div class="cell">
        Date
      </div>
      
    </div>

  </div>

  
</div></body></html>