<html lang="en">
<head>
  <title>Our Story</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/css/reset.css">
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/index.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem uppercase" href="/users/service">what we offer</a>
    <a class="bHeader__navItem uppercase" href="/users/menu">menu</a>
    <a class="bHeader__navItem uppercase" href="/users/sources">sources</a>
    <a class="bHeader__navItem uppercase" href="/users/about">our story</a>
    <a class="bHeader__navItem uppercase" href="/users/contact">contact us</a>
    <a class="bHeader__navItem uppercase" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->
<article class="pAbout">
  <section class="bSplash">
    <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__content" data-stellar-ratio="0.5">
      <h1 class="bSplash__header">from <span class="font-w-bold">our chef</span></h1>
      <h2 class="bSplash__subheader"><span class="font-w-bold">ari</span> botsford</h2>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h">My story</h1>
      <p class="bContent__p">
        If you had told me two years ago that I was making myself sick with what I was eating, I would laugh. I'd stuff my face with pizza, and I'd laugh at you. Now? Now, it's a much different story. I'm helping people all over New York feel amazing by changing what they eat.  But it's not just my undying love of agriculture, science, and gourmet pursuits that forms my personal philosophy. I've been managing my autoimmune issues with food for many years now, and I believe you can too.
      </p>
    </div>
  </section>

  <section class="bContent__section bContent__section_alt">
    <div class="container">
      <h1 class="bContent__h"></h1>
      <p class="bContent__p">
        My story starts some 1, 193 miles away. I grew up on a farm in The Ozarks. My father won many awards for his work in rotational grazing and high-quality, organically-raised, pastured meats. Serving as director of both our local chapters of the Weston A. Price Foundation, and The League of Women Voters, I was brought up with strong values and respect for agriculture, nutrition, and the activism necessary to sustain both.  With 250 acres to roam on, I spent much time learning how to care for the livestock we sold to feed families in southwest Missouri.  Combined with my mother's adventurous spirit and dedication to nutritive dishes in the kitchen, I grew up eating fresh, epicurean foods straight from our ranch to our dinner table. From gathering eggs to bottle-feeding calves, riding horses to herding sheep, our grass-fed farm laid the roots for my love of seasonal, gourmet food.
      </p>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h"></h1>
      <p class="bContent__p">
        I left Missouri in 2007, and headed east to Brooklyn. I ended up here by accident; my intent was to pursue filmmaking. Turns out, my body had other plans for me. At age nineteen, I experienced my first anaphylaxis. After eating my typical nut-and-fruit bar on the train en route to class, my throat swelled shut.  It was after that first experience that I was told I had a tree nut allergy. And it continued. Serious allergies and intolerances to eggs, peanuts, and soy appeared. I started cooking, a lot. I couldn't just grab anything and go, I had to know what my food was made of. So, off to school I went-- except that a shrimp lunch put me in an ambulance, the day before I started my culinary arts track at The Institute of Culinary Education.
      </p>
    </div>
  </section>

  <section class="bContent__section bContent__section_alt">
    <div class="container">
      <h1 class="bContent__h"></h1>
      <p class="bContent__p">
        By the time I graduated, I was unable to consume all of the top 8 allergens. On top of this, I was suffering from chronic gastritis, gastric ulcers, GERD and horrible fatigue. My anxiety issues were a mess. My joints heaved and creaked, my anxiety left me panicking and dissociated most days. Dozens of doctors had no idea what my problem was-- autoimmune issue, sure--but what? Without a diagnosis, and without a clue, I was, in short, falling apart. After a few years of bad relationships, unnecessary stress, and debilitating sickness, I finally accepted that my mind, body, and food were connected. I had to be nicer to myself---and that meant nourishing myself with the right ingredients and activities.
      </p>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h"></h1>
      <p class="bContent__p">
        These days, I follow a Paleo diet with strong influences from the nutrient-dense Wahls Protocol and Nourishing Traditions. I walk and run more than ten miles per day. Sleep gets prioritized above almost anything else. I changed the entire way I live, and I've never felt better. The farmer's market is my second home, after my butcher shops, of course. The food I grow allows me a deep connection to the food I make. You'll often find vegetables from my organic, heirloom garden on the end of your fork, especially during the growing season. My life as a former farm girl makes a strong presence in my cooking, as does my empathy for whatever you may be going through. I understand how terrified you are. And I understand how eating the right food can change your life. On top of all that-- we know what it's like to be too busy.
      </p>
    </div>
  </section>

  <section class="bContent__section bContent__section_alt">
    <div class="container">
      <h1 class="bContent__h">We get it.</h1>
      <p class="bContent__p">
        This is why we do what we do. And that's why we make nutrient-dense, farm-to-table, customized-to-need fare for New Yorkers across the city.
      </p>
    </div>
  </section>

</article>

</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>