<html lang="en">
<head>
  <title>Our Story</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/css/reset.css">
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/index.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem uppercase" href="/users/service">what we offer</a>
    <a class="bHeader__navItem uppercase" href="/users/menu">menu</a>
    <a class="bHeader__navItem uppercase" href="/users/sources">sources</a>
    <a class="bHeader__navItem uppercase" href="/users/about">our story</a>
    <a class="bHeader__navItem uppercase" href="/users/contact">contact us</a>
    <a class="bHeader__navItem uppercase" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->
<article class="pMenu">
  <section class="bSplash">
    <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__content" data-stellar-ratio="0.5">
      <h1 class="bSplash__header">Spring 2015 <span class="font-w-bold">Menu</span></h1>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h font-w-bold">breakfasts.</h1>

      <div class="pMenu__item">
        <h2 class="bContent__h2">morning napoleon</h2>
        <p class="bContent__p margin-v-1">
          pastured eggs + kale + organic chicken sausage + seasonal vegetables with a reduction sauce
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">sundae morning</h2>
        <p class="bContent__p margin-v-1">
          grassfed yogurt + cranberry compote + housemade paleo granola
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">egg muffins</h2>
        <p class="bContent__p margin-v-1">
          pastured eggs + chef's choice leafy greens &amp; seasonal vegetables
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">squash pancakes&nbsp;</h2>
        <p class="bContent__p margin-v-1">
          coconut flour squash pancakes + roast pears + local maple + uncured, nitrate-free bacon
        </p>
      </div>
    </div>
  </section>

  <section class="bContent__section bContent__section_alt">
    <div class="container">
      <h1 class="bContent__h font-w-bold">lunches + dinners.</h1>

      <div class="pMenu__item">
        <h2 class="bContent__h2">lamb burger</h2>
        <p class="bContent__p margin-v-1">
          hudson valley lamb + roasted micro radishes + winter spinach with caramelized golden beets
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">the power meal</h2>
        <p class="bContent__p margin-v-1">
          grass-fed beef steak + carrot frites + steamed broccoli&nbsp;
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">stuffed cabbage</h2>
        <p class="bContent__p margin-v-1">
          ground grass-fed beef + leeks + chef's choice of seasonal vegetables + beet sauce
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">lamb salad</h2>
        <p class="bContent__p margin-v-1">
          seared hudson valley lamb + hand-selected baby greens+ beets + radishes + other seasonal vegetables
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">beet-braised duck</h2>
        <p class="bContent__p margin-v-1">
          black dirt region beets + pastured duck leg + roasted squash rings + sauteed kale
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">asian pork cheek ragout</h2>
        <p class="bContent__p margin-v-1">
          coconut amino braised heritage breed pork cheeks + sesame cucumber noodles + grilled bok choy
        </p>
      </div>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h font-w-bold">snacks + desserts.</h1>

      <div class="pMenu__item">
        <h2 class="bContent__h2">squash truffles</h2>
        <p class="bContent__p margin-v-1">
          roasted squash puree + coconut butter + power seeds + coconut
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">sunflower smoothie</h2>
        <p class="bContent__p margin-v-1">
          coconut milk + sunflower seed butter
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">nut-free paleonola</h2>
        <p class="bContent__p margin-v-1">
          seeds + coconut + seasonal fruits + more
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">chopped liver</h2>
        <p class="bContent__p margin-v-1">
          organic, pastured chicken liver + hard-boiled eggs + garden herbs + carrot &amp; kohlrabi sticks
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">frozen lavender custard</h2>
        <p class="bContent__p margin-v-1">
          coconut milk + local lavender&nbsp;
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">butternut baba ghanoush</h2>
        <p class="bContent__p margin-v-1">
          butternut squash + zucchini + tahini + radish chips
        </p>
      </div>
    </div>
  </section>
</article>

<!-- <section id="about" class="page page_bg__1" style="background-color:#000000">
    <div class="about_bg__1" style="background-color:#000000">
        <div class="container_12" style="background-color:#000000">
            <div class="grid_12" style="background-color:#000000">
                <h3 class="head__1" style="color:#FFFFFF; text-align:left; font-size:32px"></h3>
                <strong><p style="font-size: 28px">breakfasts</p></strong>
                <p class="text-align-center"><strong>morning napoleon</strong><br>
                pastured eggs + kale + organic chicken sausage + seasonal vegetables with a reduction sauce</p>
                <p class="text-align-center"><strong>sundae morning</strong><br>
                     grassfed yogurt + cranberry compote+ housemade paleo granola </p>
                <p class="text-align-center"><strong>egg muffins</strong><br>
                         pastured eggs + chef's choice leafy greens &amp; seasonal vegetables </p>
                <p class="text-align-center"><strong>squash pancakes&nbsp;</strong><br>
                     coconut flour squash pancakes + roast pears + local maple + uncured, nitrate-free bacon </p>

                <h3 class="head__1" style="color:#FFFFFF; text-align:left; font-size:32px"></h3>
                <p style="font-size: 28px">lunches and dinners</p>
                <p class="text-align-center"><strong>lamb burger</strong><br>
                     hudson valley lamb + roasted micro radishes + winter spinach with caramelized golden beets </p>
                <p class="text-align-center"><strong>the power meal</strong><br>
                     grass-fed beef steak + carrot frites + steamed broccoli&nbsp; </p>
                <p class="text-align-center"><strong>stuffed cabbage</strong><br>
                     ground grass-fed beef + leeks + chef's choice of seasonal vegetables + beet sauce </p>
                <p class="text-align-center"><strong>lamb salad</strong><br>
                     seared hudson valley lamb + hand-selected baby greens+ beets + radishes + other seasonal vegetables </p>
                <p class="text-align-center"><strong>beet-braised duck</strong><br>
                     black dirt region beets + pastured duck leg + roasted squash rings + sauteed kale </p>
                <p class="text-align-center"><strong>asian pork cheek ragout</strong><br>
                     coconut amino braised heritage breed pork cheeks + sesame cucumber noodles + grilled bok choy </p>

                <h3 class="head__1" style="color:#FFFFFF; text-align:left; font-size:32px"></h3>
                <p style="font-size: 28px">snacks + desserts</p>
                <p class="text-align-center"><strong>squash truffles</strong><br>
                     roasted squash puree + coconut butter + power seeds + coconut </p>
                <p class="text-align-center"><strong>sunflower smoothie</strong>
                    <br>coconut milk + sunflower seed butter*</p>
                <p class="text-align-center"><strong>nut-free paleonola</strong><br>
                     seeds + coconut + seasonal fruits + more </p>
                <p class="text-align-center"><strong>chopped liver</strong><br>
                     organic, pastured chicken liver + hard-boiled eggs + garden herbs + carrot &amp; kohlrabi sticks </p>
                <p class="text-align-center"><strong>frozen lavender custard</strong><br>
                     coconut milk + local lavender&nbsp; </p>
                <p class="text-align-center"><strong>butternut baba ghanoush</strong><br>
                     butternut squash + zucchini + tahini + radish chips </p><p class="text-align-center">&nbsp;</p>
                <p class="text-align-center">&nbsp;</p>
                <p class="text-align-center">our menus are subject to change due to seasonality, availability and your personal needs.</p><p class="text-align-center">*can be personalized with additions or omissions</p><p class="text-align-center">&nbsp;</p>
                <p class="text-align-center">&nbsp;</p><p>&nbsp;</p><p class="text-align-center"><br><br>&nbsp;</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section> -->
<!--==============================
              footer
=================================-->

<a href="#" id="toTop" class="fa fa-chevron-up"></a>
<script src="/static/js/jquery.singlePageNav.min.js"></script>
<script>

    // Prevent console.log from generating errors in IE for the purposes of the demo
    if ( ! window.console ) console = { log: function(){} };

    // The actual plugin
    $('.single-page-nav').singlePageNav({
        offset: $('.single-page-nav').outerHeight(),
        filter: ':not(.external)',
        updateHash: true,
        beforeStart: function() {
            console.log('begin scrolling');
        },
        onComplete: function() {
            console.log('done scrolling');
        }
    });
</script>





</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>