<html lang="en">
<head>
  <title>What We Offer</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/css/reset.css">
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/index.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem uppercase" href="/users/service">what we offer</a>
    <a class="bHeader__navItem uppercase" href="/users/menu">menu</a>
    <a class="bHeader__navItem uppercase" href="/users/sources">sources</a>
    <a class="bHeader__navItem uppercase" href="/users/about">our story</a>
    <a class="bHeader__navItem uppercase" href="/users/contact">contact us</a>
    <a class="bHeader__navItem uppercase" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->

<article class="pService">
  <section class="bSplash">
    <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__content" data-stellar-ratio="0.5">
      <h1 class="bSplash__header">What <span class="font-w-bold">We Offer</span></h1>
    </div>
  </section>

  <section class="bContent__section clearfix">
    <div class="container">
      <h1 class="bContent__h">We offer highly-customizable meals based on your personal preferences and dietary needs.</h1>
      <h2 class="bContent__h2 margin-v-3">Some diets I have experience cooking for:</h2>

      <div class="bContent__half">
        <li>the Selective Carbohydrate Diet</li>
        <li>Paleo&nbsp;</li>
        <li>Primal/Weston A. Price's Nourishing Traditions</li>
        <li>Ketogenic/ High-Fat, Low-Carbohydrate</li>
        <li>Hypoallergenic</li>
        <li>Low/No-FODMAPs</li>
        <li>Autoimmune Paleo/Wahls Protocol</li>
        <li>Vegetarian</li>
        <li>Dukan Diet</li>
        <li>Atkins Diet</li>
        <li>SIBO Diet</li>
        <li>Slow Carb/4 Hr Body Diet</li>
        <li>Weight Loss</li>
      </div>

      <div class="bContent__half">
        <li>Whole 30</li>
        <li>GAPS&nbsp;</li>
        <li>21 Day Sugar Detox</li>
        <li>Gluten-Free</li>
        <li>Dairy Free</li>
        <li>Allergy-Free (Top 8)</li>
        <li>Vegan</li>
        <li>Specific Carbohydrate Diet</li>
        <li>Alkaline Diet</li>
        <li>Clean Eating</li>
        <li>Low-Glycemic</li>
        <li>Salicylate-Free</li>
        <li>And more, inquire for further information.</li>
      </div>
    </div>
  </section>

  <section class="bContent__section bContent__section_alt">
    <div class="container">
      <h1 class="bContent__h">Nutritional Consulting</h1>
      <p class="bContent__p">
        So, you've just been diagnosed with a health condition and you're totally overwhelmed. All the things you could eat before are off-limits. What do you do? You call us. Get a chef's perspective on how to navigate the grocery store, the kitchen, the farmer's market. We talk, we look through your kitchen. We shop for food.I leave you empowered, with a fridge full of food that's safe for you to eat.  And you'll even get a week of unlimited e-mail support after your consultation. You can even combine your consultation with cooking lessons, so that you feel ready to take on your new lifestyle head-on where it counts: the kitchen.
      </p>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h">Special Occasions and Requests</h1>
      <p class="bContent__p">
        We are able to take on a very limited number of special requests, but if you need an autoimmune-friendly holiday meal, paleo truffles for a significant other's birthday, or perhaps an allergy-free engagement dinner for just you and your honey... we might just be able to help you out. Don't hesitate; no request goes unconsidered!
      </p>
    </div>
  </section>
</article>
<!--==============================
              footer
=================================-->

<a href="#" id="toTop" class="fa fa-chevron-up"></a>
<script src="/static/js/jquery.singlePageNav.min.js"></script>
<script>

    // Prevent console.log from generating errors in IE for the purposes of the demo
    if ( ! window.console ) console = { log: function(){} };

    // The actual plugin
    $('.single-page-nav').singlePageNav({
        offset: $('.single-page-nav').outerHeight(),
        filter: ':not(.external)',
        updateHash: true,
        beforeStart: function() {
            console.log('begin scrolling');
        },
        onComplete: function() {
            console.log('done scrolling');
        }
    });
</script>





</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>