<html lang="en">
<head>
  <title>Sources</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/css/reset.css">
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/index.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem uppercase" href="/users/service">what we offer</a>
    <a class="bHeader__navItem uppercase" href="/users/menu">menu</a>
    <a class="bHeader__navItem uppercase" href="/users/sources">sources</a>
    <a class="bHeader__navItem uppercase" href="/users/about">our story</a>
    <a class="bHeader__navItem uppercase" href="/users/contact">contact us</a>
    <a class="bHeader__navItem uppercase" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->

<article class="pSources">
   <section class="bSplash">
    <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__content" data-stellar-ratio="0.5">
      <h1 class="bSplash__header">Our <span class="font-w-bold">sources</span></h1>
    </div>
  </section>

  <section class="bContent__section clearfix">
    <div class="container">
      <h1 class="bContent__h">We're big fans of local farms &amp; butcher shops</h1>
      <h2 class="bContent__h2 margin-v-3">Here are a few we frequently source from:</h2>
      <div class="bContent__half">
        <li>The Meat Hook</li>
        <li>Fleisher's Pastured Meats&nbsp;</li>
        <li>Arcadian Pastures</li>
        <li>Migliorelli Farms</li>
        <li>Fishkill Farms</li>
        <li>Kernan Farms</li>
        <li>Whole Foods Market</li>
        <li>Foxy Farms</li>
        <li>Sahadi's</li>
      </div>

      <div class="bContent__half">
        <li>S &amp; SO Farms</li>
        <li>Van Houten Farmss</li>
        <li>Quattro's Game Farm &amp; Store</li>
        <li>Paffenroth Gardens</li>
        <li>Rogowski Farms</li>
        <li>Phillips Farms</li>
        <li>Los Paisanos Meat Market</li>
        <li>Udder Milk Creamery</li>
        <li>Union Market</li>
      </div>
    </div>
  </section>
</article>

<!-- <section id="services" class="page page_bg__1" style="background-color:#000000">
    <div class="about_bg__1" style="background-color:#000000">
        <div class="container_12" style="background-color:#000000">
            <div class="grid_12" style="background-color:#000000">
                <h3 class="head__1" style="color:#FFFFFF; text-align:left;"></h3>
                <p style="font-style:normal; color:#F0F7FF">We're big fans of local farms and butcher shops.
                    Here are a few we frequently source from:</p>
                    <ul style="font-style:normal; width:49%; display: inline-block; zoom:1; *display: inline; color:#F0F7FF">
                        <li>The Meat Hook</li>
                        <li>Fleisher's Pastured Meats&nbsp;</li>
                        <li>Arcadian Pastures</li>
                        <li>Migliorelli Farms</li>
                        <li>Fishkill Farms</li>
                        <li>Kernan Farms</li>
                        <li>Whole Foods Market</li>
                        <li>Foxy Farms</li>
                        <li>Sahadi's</li>
                     </ul>
                     <ul style="font-style:normal; width:49%; display: inline-block; zoom:1; *display: inline; color:#F0F7FF">
                        <li>S &amp; SO Farms</li>
                        <li>Van Houten Farmss</li>
                        <li>Quattro's Game Farm &amp; Store</li>
                        <li>Paffenroth Gardens</li>
                        <li>Rogowski Farms</li>
                        <li>Phillips Farms</li>
                        <li>Los Paisanos Meat Market</li>
                        <li>Udder Milk Creamery</li>
                        <li>Union Market</li>
                    </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section> -->
<!--==============================
              footer
=================================-->

<a href="#" id="toTop" class="fa fa-chevron-up"></a>
<script src="/static/js/jquery.singlePageNav.min.js"></script>
<script>

    // Prevent console.log from generating errors in IE for the purposes of the demo
    if ( ! window.console ) console = { log: function(){} };

    // The actual plugin
    $('.single-page-nav').singlePageNav({
        offset: $('.single-page-nav').outerHeight(),
        filter: ':not(.external)',
        updateHash: true,
        beforeStart: function() {
            console.log('begin scrolling');
        },
        onComplete: function() {
            console.log('done scrolling');
        }
    });
</script>





</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>